footer
    div.footer-row
        div.footer-col
            p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты.
        div.footer-col
            include menu-footer.pug
            ul.social-footer
            li
                img(src='assets/images/icons/vk.svg')
            li
                img(src='assets/images/icons/github.svg')
            li
                img(src='assets/images/icons/in.svg')
        div.footer-col
            p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты.
    div.footer-row
        div.footer-copyright
            p.copyright &copy; Александр Смирнов | LoftSchool 2017